/* General Styles */
body {
    font-family: 'Cambria', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7b99e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

#mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#videoContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 30px;
    border-radius: 10px;
}

#video {
    width: 100%;
    max-width: 640px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 5px solid #fff;
}

#startBtn {
    padding: 15px 30px;
    background-color: #e82807;
    color: #f8f6f6;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;  /* Space between video feed and button */
}

#startBtn:hover {
    background-color: #c54141;
}

#attendanceDetails {
    flex: 1;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    color: #333;
    transition: transform 0.3s ease;
}

#attendanceDetails:hover {
    transform: scale(1.05);
}

#result {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

#attendanceResults {
    font-size: 1.1em;
}

#attendanceResults li {
    padding: 5px 0;
    font-size: 1em;
    color: #333;
    border-bottom: 1px solid #ddd;
}

#attendanceResults li:last-child {
    border-bottom: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    #mainContainer {
        flex-direction: column;
        align-items: center;
    }

    #videoContainer {
        margin-right: 0;
        margin-bottom: 20px;
    }

    #attendanceDetails {
        width: 80%;
    }
}
